<ul id="dropdown1" class="dropdown-content">
    <li><a id="sokcho" class="black-text">속초</a></li>
    <li><a id="ulsan" class="black-text">울산</a></li>
    <li class="divider"></li>
    <li><a href="https://fb.me/trainersroad" target="_blank" class="black-text">페이스북</a></li>
    <li><a href="#" class="black-text suggest">제안하기</a></li>
    <li class="divider"></li>
    <li><a href="#" class="black-text guide">소개</a></li>
    <li class="divider"></li>
</ul>  


  <nav class="z-depth-3">
    <div class="nav-wrapper" style="background:#F5D83F;">
       <a href="#" class="brand-logo center"><img class="tr-logo" src="/assets/nav_logo.png"></a>
       <a data-activates="slide-out" class="right button-collapse"><img style="height:24px;margin:16px;"src="/assets/menu.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1" data-beloworigin="true">MENU<img style="height:9px;margin:5px;"src="/assets/dropdown.png"></a></li>      
      </ul>
    </div>
  </nav>
 
  
 <ul id="slide-out" class="side-nav" style="background:#2757A3">
        <li><a style="color:#fff;background:#2757A3" ><img style="height:18px;margin-right:16px;"src="/assets/marker2.png"><span style="font-size:20px;">바 로 가 기</span></a></li>
        <li><a id="m_sokcho" class="white-text" style="background:#2757A3"><span style="font-size:18px;padding-left:4px">속 초</span></a></li>
        <li><a id="m_ulsan" class="white-text"><span style="font-size:18px;padding-left:4px">울 산</span></a></li>
    <img style="width:200px;" src="/assets/divider.png">
    <li><a style="color:#fff;background:#2757A3"><img style="height:18px;margin-right:16px;"src="/assets/connect.png"><span style="font-size:20px;">연 결 하 기</span></a></li>
    <li><a href="https://fb.me/trainersroad" target="_blank" style="color:#fff;background:#2757A3"><span style="font-size:18px;padding-left:4px">페이스북 페이지</span></a></li>
    <li><a href="https://m.me/trainersroad" target="_blank" style="color:#fff;background:#2757A3"><span style="font-size:18px;padding-left:4px">메세지 보내기</span></a></li>
    <li><a href="https://goo.gl/forms/NVRCmpbBr4tUPwGN2" target="_blank" style="color:#fff;background:#2757A3"><span style="font-size:18px;padding-left:4px">의견 전달하기</span></a></li>
    
    
    <img style="width:200px;" src="/assets/divider.png">
    <li><a style="color:#fff;background:#2757A3"><img style="height:18px;margin-right:16px;"src="/assets/info.png"><span style="font-size:20px;">...에 관하여</span></a></li>
    <li><a class="guide" style="color:#fff;background:#2757A3"><span style="font-size:18px;padding-left:4px">사 용 방 법</span></a></li>
     <img style="width:200px;" src="/assets/divider.png">
 </ul>